<!DOCTYPE html>
<html>
	<head>
		<title>Signup</title>
	</head>
	<body onload="keepAlive(); time(); setupPubnub();">
	<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.7.2.0.js"></script>
		<script src="static/js/main.js"></script>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainPage.css') }}">
<!-- The Modal -->
		<div class="center">
<!--			<img src="static/imgs/logo-removebg.png" alt="logo" height="200px" width="250px">-->
			<img class="navbar-brand fw-bold" src="static/imgs/POM.png" alt="logo" height="120px" width="300px">
		  <form method="post">
			<div class="txt_field">
			  <input type="text" required>
			  <span></span>
			  <label>Email</label>
			</div>
			<div class="txt_field">
			  <input type="password" required>
			  <span></span>
			  <label>Password</label>
			</div>
			  <div class="txt_field">
			  <input type="password" required>
			  <span></span>
			  <label>Confirm Password</label>
			</div>
			<div class="pass">Forgot Password?</div>
			<input type="submit" value="SignUp">
		  </form>
		</div>
	</body>
</html>